<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productos.css">
</head>

<body>
    <div class="container">

        <%- include('../partials/header') %>
        <main>
            <aside class="aside">
                <form action="../products/filtro" method="POST" class="formfiltro">
                <%- include('../partials/filtroListaProductos') %>
            </form>
            <button class="botonFiltro" id="verFiltros">Ver Filtros</button>
            </aside>
            <section class="producto"  >
                <% for ( var i =0; i < productos.length; i++){ %>
                    
                    <div class="calzado" onclick="javascript:location.href='/products/<%= productos[i].id %>'">
                        <p class="titulo"><%=productos[i].nombre%></p>
                        <img src="/img/products/<%= productos[i].imagenes[0].path %>" alt="<%= productos[i].imagenes[0].nombre %>">
                        <p class="precio">$ <%= toThousand(productos[i].precio) %></p> 
                        <p class="oferta">(<%=productos[i].descuento%> OFF)</p>
                        <p class="envio">Envio</p> 
                    </div>
                    
                <%}%>

             
            </section>
            
        </main>

        <%- include('../partials/footer') %>

    </div>
    <script src="/js/productos.js"></script>
</body>
</html>