<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
</head>

<body>
    <div class="container">

        <%- include('../partials/header') %>
          
        <main>
            <section class="producto">
                
                <div class="datosProducto">
                    <article class="imagenesProducto">
                        <div class="imagenesCarousel">
                            <% for (let i=0; i< producto.imagenes.length; i++){ %>
                                <img src="/img/products/<%= producto.imagenes[i].path %>" alt="imagen">  
                            <% } %>
                        </div>
                        <div class="imagenesSelect">
                            <img src="/img/products/<%= producto.imagenes[0].path %>" alt="">
                        </div>
                    </article>
                    <article class="descripcionProducto">
                        Detalles del producto
                        <p> <%= producto.descripcion %> </p>
                    </article>
                </div>

                <form action="/products/<%= producto.id %>" method="POST" class="formularioCompra">
                    <tittle id="nombre"> <%= producto.nombre %> </tittle>
                    <tittle id="nombre"> Marca : <%= producto.marcas.nombre %> </tittle>
                    <p id="precio"> $ <%= toThousand(producto.precio) %> </p>
                    <p id="oferta">3 Cuotas SIN INTERÉS</p>
                    <div class="talles">
                        <div class="categoria">
                            <p id="tituloTalles">Talles</p>
                            <p id="guiaTalles" onclick="javascript:location.href='/ayuda'">Ver guía de talles</p>
                        </div>
                        <div class="botontesSelect">
                            <% for ( let i= 0; i< producto.talles.length; i++ ){ %>
                                <label for="talle" id="talle"><button type="button" id="talle" name="talle" value="<%= producto.talles[i].talle %>"><input type="radio" id="talle" name="talle" value="<%=producto.talles[i].id%>"><%=producto.talles[i].talle%></button></label> 
                            
                            <% } %>
                        </div>
                        <div class="colores">
                        <p class="categoria">Colores: <b></b></p>
                        <div class="botontesSelect">
                            <% for ( let i= 0; i< producto.colores.length; i++ ){ %>
                            <button type="button" id="color" name="color" value="<%= producto.colores[i].id %>" style="background-color: #<%= producto.colores[i].hex %> ;"><input type="radio" id="color" name="color" value="<%=producto.colores[i].id%>"><%=producto.colores[i].talle%></button></label>
                            
                            <% } %>
                        </div>
                    </div>
                    </div>
                    <div class="cantidad">
                        <p class="categoria">Cantidad: <input name= "cantidad" id="inputCantidad" type="number" value="1" min="1"></p>
                        
                    </div>
                    <div class="mediosPago">
                        <p class="categoria">Medio de Pago: </p>
                        <div class="botontesSelect">
                            <button id="mediosPago" name="mediosPago" type="button" value="1" ><input type="radio" name="mediosPago" id="mediosPago" value="1" checked>1</button>
                            <button id="mediosPago" name="mediosPago" type="button" value="2"><input type="radio" name="mediosPago" id="mediosPago" value="2">2</button>
                            <button id="mediosPago" name="mediosPago" type="button" value="3"><input type="radio" name="mediosPago" id="mediosPago" value="3">3</button>
                            <button id="mediosPago" name="mediosPago" type="button" value="1"><input type="radio" name="mediosPago" id="mediosPago" value="4">4</button>
                        </div>
                    </div>
                    <div class="mediosEnvio">
                        <p class="categoria">Medio de envío: </p>
                        <div class="botontesSelect">
                            <button id="mediosEnvio" name="envio" type="button" value="1"><input type="radio" name="mediosEnvio" id="mediosEnvio" value="1" checked>1</button>
                            <button id="mediosEnvio"  name="envio" type="button" value="2"><input type="radio" name="mediosEnvio" id="mediosEnvio" value="2">2</button>
                            <button id="mediosEnvio"  name="envio" type="button" value="3"><input type="radio" name="mediosEnvio" id="mediosEnvio" value="3">3</button>
                            <button id="mediosEnvio"  name="envio" type="button" value="4"><input type="radio" name="mediosEnvio" id="mediosEnvio" value="4">4</button>
                        </div>
                    </div>

                    <% if ( usuario != 'ningunUsuarioLogueado' ) { %>
                        <button class="botonCompra" type="submit">Comprar</button>
                    <% } else { %>
                        <a href="/users/login"><div class="botonCompra">Loguearse para comprar</div></a>
                    <% } %>
                                   
                </form>
            </section>
                       <section class="relacionados">
                <title>Productos relacionados</title>
                <div class="relacionadosProductos">
                    <% for(i=0; i< productos.length; i++){ %>
                        <article>
                            <img src=" /img/products/<%= productos[i].imagenes[0].path %> " alt="">
                            <p><%= productos[i].nombre %></p>
                            <p>$ <%= toThousand(productos[i].precio) %></p>
                            <p><a href="/products/<%=productos[i].id%>">Ver Producto</a></p>
                        </article>
                    <% } %>
                </div>
            </section>
            
        </main>
        
        <%- include('../partials/footer') %>

    </div>
</body>
</html>