<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
</head>

<body>
    <div class="container">

        <%- include('../partials/header') %>
          
        <main>
            <section class="producto">
                
                <div class="datosProducto">
                    <article class="imagenesProducto">
                        <div class="imagenesCarousel">
                            <% for (let i=0; i< producto.imagenes.length; i++){ %>
                                <img src="/img/products/<%= producto.imagenes[i].path %>" alt="imagen">  
                            <% } %>
                        </div>
                        <div class="imagenesSelect">
                            <img src="/img/products/<%= producto.imagenes[0].path %>" alt="">
                        </div>
                    </article>
                    <article class="descripcionProducto">
                        Detalles del producto
                        <p> <%= producto.descripcion %> </p>
                    </article>
                </div>

                <form action="/products/<%= producto.id %>" method="POST" class="formularioCompra">
                    <tittle id="nombre"> <%= producto.nombre %> </tittle>
                    <tittle id="nombre"> Marca : <%= producto.marcas.nombre %> </tittle>
                    <p id="precio"> $ <%= toThousand(producto.precio) %> </p>
                    <p id="oferta">3 Cuotas SIN INTERÉS</p>
                    <div class="talles">
                        <div class="categoria">
                            <p id="tituloTalles">Talles</p>
                            <p id="guiaTalles" onclick="javascript:location.href='/ayuda'">Ver guía de talles</p>
                        </div>
                        <div class="botontesSelect">
                            <% for ( let i= 0; i< producto.talles.length; i++ ){ %>
                            <button type="button"> <%= producto.talles[i].talle %> </button>
                            <% } %>
                        </div>
                        <div class="colores">
                        <p class="categoria">Colores: <b></b></p>
                        <div class="botontesSelect">
                            <% for ( let i= 0; i< producto.colores.length; i++ ){ %>
                            <button type="button" style="background-color: #<%= producto.colores[i].hex %> ;"></button>
                            
                            <% } %>
                        </div>
                    </div>
                    </div>
                    <div class="cantidad">
                        <p class="categoria">Cantidad: <input id="inputCantidad" type="number" value="1" min="1"></p>
                        
                    </div>
                    <div class="mediosPago">
                        <p class="categoria">Medio de Pago: </p>
                        <div class="botontesSelect">
                            <button type="button">1</button>
                            <button type="button">2</button>
                            <button type="button">3</button>
                            <button type="button">4</button>
                        </div>
                    </div>
                    <div class="mediosEnvio">
                        <p class="categoria">Medio de envío: </p>
                        <div class="botontesSelect">
                            <button type="button">1</button>
                            <button type="button">2</button>
                            <button type="button">3</button>
                            <button type="button">4</button>
                        </div>
                    </div>
                    <% if ( req.session.usuario ) { %>
                        <button class="botonCompra" type="submit">Comprar</button>
                    <% } else { %>
                        <a href="/users/login"><button class="botonCompra">Loguearse para Comprar</button></a>
                    <% } %>
                    
                </form>
            </section>
                       <section class="relacionados">
                <title>Productos relacionados</title>
                <div class="relacionadosProductos">
                    <% for(i=0; i< productos.length; i++){ %>
                        <article>
                            <img src=" /img/products/<%= productos[i].imagenes[0].path %> " alt="">
                            <p><%= productos[i].nombre %></p>
                            <p>$ <%= toThousand(productos[i].precio) %></p>
                            <p><a href="/products/<%=productos[i].id%>">Ver Producto</a></p>
                        </article>
                    <% } %>
                </div>
            </section>
            
        </main>
        
        <%- include('../partials/footer') %>

    </div>
</body>
</html>