<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
</head>

<body>
    <div class="container">

        <%- include('../partials/header') %>
        
        <main>
            <section class="producto">
                
                <div class="datosProducto">
                    <article class="imagenesProducto">
                        <div class="imagenesCarousel">
                            <!-- <% for(let i=0; i<7; i++){ %>
                                <img src="/img/ZapatoPrueba.jpg" alt="">
                            <% } %> -->
                            <% if ( productSelect.imagen1 ){ %>
                                <img src="/img/products/<%= productSelect.imagen1 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen2 ){ %>
                                <img src="/img/products/<%= productSelect.imagen2 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen3 ){ %>
                                <img src="/img/products/<%= productSelect.imagen3 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen4 ){ %>
                                <img src="/img/products/<%= productSelect.imagen4 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen5 ){ %>
                                <img src="/img/products/<%= productSelect.imagen5 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen6 ){ %>
                                <img src="/img/products/<%= productSelect.imagen6 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen7 ){ %>
                                <img src="/img/products/<%= productSelect.imagen7 %>" alt="">
                            <% } %>
                            <% if ( productSelect.imagen8 ){ %>
                                <img src="/img/products/<%= productSelect.imagen8 %>" alt="">
                            <% } %>
                        </div>
                        <div class="imagenesSelect">
                            <img src="/img/products/<%= productSelect.imagen1 %>" alt="">
                        </div>
                    </article>
                    <article class="descripcionProducto">
                        Detalles del producto
                        <p> <%= productSelect.descripcion %> </p>
                    </article>
                </div>

                <form action="/home" method="GET" class="formularioCompra">
                    <tittle id="nombre"> <%= productSelect.nombre %> </tittle>
                    <p id="precio"> $ <%= productSelect.precio %> </p>
                    <p id="oferta">3 Cuotas SIN INTERÉS</p>
                    <div class="talles">
                        <div class="categoria">
                            <p id="tituloTalles">Talles</p>
                            <p id="guiaTalles" onclick="javascript:location.href='/ayuda'">Ver guía de talles</p>
                        </div>
                        <div class="botontesSelect">
                            <% for ( let i=35; i<47; i++ ){ %>
                            <button type="button"> <%= i %> </button>
                            <% } %>
                        </div>
                    </div>
                    <div class="colores">
                        <p class="categoria">Color: <b>Rojo</b></p>
                        <div class="botontesSelect">
                            <button type="button" style="background-color: red;"></button>
                            <button type="button" style="background-color: black;"></button>
                            <button type="button" style="background-color: brown;"></button>
                            <button type="button" style="background-color: burlywood;"></button>
                        </div>
                    </div>
                    <div class="cantidad">
                        <p class="categoria">Cantidad: <input id="inputCantidad" type="number" value="1" min="1"></p>
                        
                    </div>
                    <div class="mediosPago">
                        <p class="categoria">Medio de Pago: </p>
                        <div class="botontesSelect">
                            <button type="button">1</button>
                            <button type="button">2</button>
                            <button type="button">3</button>
                            <button type="button">4</button>
                        </div>
                    </div>
                    <div class="mediosEnvio">
                        <p class="categoria">Medio de envío: </p>
                        <div class="botontesSelect">
                            <button type="button">1</button>
                            <button type="button">2</button>
                            <button type="button">3</button>
                            <button type="button">4</button>
                        </div>
                    </div>
                    <button class="botonCompra" type="submit">Comprar</button>
                </form>
            </section>
            
            <section class="relacionados">
                <title>Productos relacionados</title>
                <div class="relacionadosProductos">
                    <% for(let i=0; i<10; i++){ %>
                        <article>
                            <img src="/img/ZapatoPrueba.jpg" alt="">
                            <p>Zapato</p>
                            <p>Precio</p>
                        </article>
                    <% } %>
                </div>
            </section>
            
        </main>
        
        <%- include('../partials/footer') %>

    </div>
</body>
</html>