<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href='/stylesheets/carritoLista.css'/>
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            
            <div class="id">
                <h1>Id</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=carritos[i].id%></a></h2>
                <%}%>
            </div>
            <div class= "fullname">
                <h1>Nombre Usuario</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                    <%for(j=0; j< usuarios.length; j++ ){%>
                        <%if (usuarios[j].id == carritos[i].id_usuario){%> 
                <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=usuarios[j].nombre%></a></h2>
                <%}%>
                <%}%>
                <%}%>
            </div>
            <div class="email">
                <h1>Email</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                    <%for(j=0; j< usuarios.length; j++ ){%>
                        <%if (usuarios[j].id == carritos[i].id_usuario){%> 
                <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=usuarios[j].email%></a></h2>
                <%}%>
                <%}%>
                <%}%>
            </div>
            <div class="estado">
                <h1>Estado</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                    <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=carritos[i].estado%></a></h2>
                    <%}%>
            </div>
            <div class="formaPago">
                <h1 style="font-size: medium;">Forma de Pago</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                    <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=carritos[i].forma_pago%></a></h2>
                    <%}%>
            </div>
            <div class="formaPago">
                <h1 style="font-size: medium;">Forma de Envio</h1>
                <%for(i=0; i< carritos.length; i++ ){%>
                <h2><a href="/admin/carritosLista/<%=carritos[i].id%>"><%=carritos[i].forma_envio%></a></h2>
                <%}%>
            </div>
            
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>