<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productos.css">
</head>

<body>
    <div class="container">

        <%- include('../partials/header_admin') %>

        <main>
            <aside class="aside">
                
                <a href="/admin/products/create"><button class="buttonAgregar">Agregar Producto</button></a>
                <br>
                <form action="../../admin/products" method="POST" class="formfiltro">
                <%- include('../partials/filtroListaProductos') %>
                </form>
                <button class="botonFiltro" id="verFiltros">Ver Filtros</button>
            </aside>
            <section class="producto">
                <% for ( var i =0; i < productos.length; i++){ %>
                    <div class="calzado" onclick="javascript:location.href='../../products/<%= productos[i].id %>'">
                        <p class="titulo"><%= productos[i].nombre %></p>
                        <div class="imagen">
                        <img src="/img/products/<%= productos[i].imagenes[0].path %>" alt="">
                        </div> 
                        <p class="precio">$ <%= toThousand(productos[i].precio) %></p> 
                        <p class="oferta">(<%= productos[i].descuento %> % OFF)</p>
                        <p class="envio">Envio</p> 
                        <a href="/admin/products/<%= productos[i].id %>/edit"><button class="buttonEdit">Editar</button></a><a href="/admin/products/delete/<%= productos[i].id %>">
                        <button class="buttonDelete">Borrar</button></a>
                    </div>
                    <% } %>
                    <div class="arrows">
 
                            <% if ( page > 1 ){ %>   
                                <a href="/admin/products/?page=<%=page -2 %>" class="btn-arrow btn-arrow-left" title="Previous">Previous</a>
                                <% }else{ %>
                                    <a href="/admin/products/?page=<%= page == 0 ? page : page-1 %>" class="btn-arrow btn-arrow-left" title="Previous" style="opacity: 0;">Previous</a>
                                    <%}%>
                                <% if ((contarProductos/10) > (page) && contarProductos>10){ %>
                                <a href="/admin/products/?page=<%= page > 0 ? page : page+1 %>" class="btn-arrow btn-arrow-right" title="Next" >Next</a></div>
                                <% }else{ %>
                                    <a href="/admin/products/?page=<%= page == 0 ? page : page-1%>" class="btn-arrow btn-arrow-right" title="Next" style="opacity: 0;">Next</a></div>
                                    <%}%>
                           
            </section>
            
        </main>

        <%- include('../partials/footer') %>

    </div>
    <script src="/js/productos.js"></script> 
</body>
</html>