<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/stylesheets/newProduct.css' />
</head>
<body>
    <div class="container">
        <%- include('../partials/header_admin') %>  
        <main class="newProduct">

            <% if ( mensaje != 'nada') { %>
                <ul>
                    <% for ( let m=0; m<mensaje.length; m++) { %>
                    <li style="color: red;"><%= mensaje[m].msg %></li>
                    <% } %>
                </ul>
            <% } %>

            <form action="/admin/products/create" method="post" enctype="multipart/form-data" id="formulario">
                <div class="nombre">
                    <label for="nombre">NOMBRE DE NUEVO PRODUCTO</label> <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
                    <ul id="nameError" style="font-size: small; color: red;" ></ul>
                </div>
                <div class="primerCategoria">
                    <div class="tipo">
                        <label class="uno" for="usuario">TIPO DE USUARIO</label>  
                        <select name="usuario" id="usuario">
                            <option value="mujer" selected>MUJER</option>
                            <option value="hombre">HOMBRE</option>
                            <option value="niño">NIÑO</option>
                        </select>              
                        <label class="uno" for="categoria">CATEGORIA DEL PRODUCTO</label>
                        <div><label for="calzado">CALZADO</label><input  class="check" type="radio" name="categoria" id="calzado" value="1" checked></div>
                        <div><label for="accesorios">ACCESORIOS</label><input  class="check" type="radio" name="categoria" id="accesorios" value="2"></div>
                        <ul id="categoriaError" style="font-size: small; color: red;" ></ul>
                    </div>
                    <div class="categoriasCalzado">
                        <label for="categoria">CATEGORIAS DE CALZADOS</label>
                        <div><label for="zapatillas">ZAPATILLAS</label><input class="check categoria1" type="radio" name="categorias" id="zapatillas" value="1" checked></div>  
                        <div><label for="botas">BOTAS</label><input class="check categoria1" type="radio" name="categorias" id="botas" value="2"></div>
                        <div><label for="zapatos">ZAPATOS</label><input class="check categoria1" type="radio" name="categorias" id="zapatos" value="3"></div>
                        <div><label for="suecos">SUECOS</label><input class="check categoria1" type="radio" name="categorias" id="suecos" value="4"></div>
                        <div><label for="Sandalias">SANDALIAS</label><input class="check categoria1" type="radio" name="categorias" id="Sandalias" value="5"></div>
                        <div><label for="chatas">CHATAS</label><input class="check categoria1" type="radio" name="categorias" id="chatas" value="6"></div>
                        <div><label for="ojotas">OJOTAS</label><input class="check categoria1" type="radio" name="categorias" id="ojotas" value="7"></div>
                    </div>
                    <div class="categoriasAccesorio">
                        <label for="categoria">CATEGORIAS DE ACCESORIOS</label>
                        <div><label for="carteras">CARTERAS</label><input class="check categoria2" type="radio" name="categorias" id="carteras" value="8"></div> 
                        <div><label for="pañuelos">PAÑUELOS</label><input class="check categoria2" type="radio" name="categorias" id="pañuelos" value="9"></div>
                        <div><label for="pulserasYCollares">PULSERAS Y COLLARES</label><input class="check categoria2" type="radio" name="categorias" id="pulserasYCollares" value="10"></div>
                        <div><label for="cintos">CINTOS</label><input class="check categoria2" type="radio" name="categorias" id="cintos" value="11"></div>
                        <div><label for="mochilas">MOCHILAS</label><input class="check categoria2" type="radio" name="categorias" id="mochilas" value="12"></div>
                    </div>
                    
                    <div class="esp">
                        <div><label for="marca">MARCA :</label>
                            <select name="marca" id="marca">
                            <% for (let i = 0; i < marcas.length; i++) {%>
                            <option value="<%=marcas[i].id%>" selected><%=marcas[i].nombre%></option>
                            <%}%>
                        </select><a href="/admin/products/create/agregarMarca">(agregar marca)</a>
                        <ul id="marcaError" style="font-size: small; color: red;" ></ul>
                        </div>  
                            
                        <div class="talles">
                            <ul id="tallesError" style="font-size: small; color: red;" ></ul>
                            <label class="tituloTalle" for="talle">TALLES :</label>
                            <% for (let i = 0; i < talles.length; i++) {%>
                                <label><input type="checkbox" id="talles" name="talles" value="<%=talles[i].id%>"><%=talles[i].talle%></label>
                                <%}%> 
                                
                        </div>

                        <div class="colores">
                            <ul id="coloresError" style="font-size: small; color: red;" ></ul>
                            <label class="tituloColores" for="colores">COLORES :</label>
                            <% for (let i = 0; i < colores.length; i++) {%> 
                                <label id="coloresLabel" style="background-color:#<%=colores[i].hex %>;"><input type="checkbox" id="colores" name="colores"  value="<%=colores[i].id%>"><%=colores[i].nombre%></label>
                                <%}%>
                         </div>

                        <div><label for="precio">PRECIO :</label> <input type="number" name="precio" id="precio" placeholder="Precio del producto">
                            <ul id="precioError" style="font-size: small; color: red;" ></ul></div>
                        <div><label for="descuento">DESCUENTO :</label> <input type="number" name="descuento" id="descuento" placeholder="Descuento del producto">
                            <ul id="descuentoError" style="font-size: small; color: red;" ></ul></div>
                        <div><label for="descripcion">DESCRIPCION :</label> <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion del producto">
                            <ul id="descripcionError" style="font-size: small; color: red;" ></ul></div>

                        <div><label for="Imagen1">AGREGAR IMAGEN :</label><input class="agregarImagen1" type="file" name="Imagen1" ></div>
                        <div><label for="Imagen2">AGREGAR IMAGEN :</label><input class="agregarImagen2" type="file" name="Imagen2" ></div>
                        <div><label for="Imagen3">AGREGAR IMAGEN :</label><input class="agregarImagen3" type="file" name="Imagen3" ><button id="img3" class="masImagenes">Más Imágenes</button></div>
                        <div id="file4" style="display: none;"><label for="Imagen4">AGREGAR IMAGEN :</label><input class="agregarImagen4" type="file" name="Imagen4" ><button id="img4" class="masImagenes" style="display: none;">Más Imágenes</button></div>
                        <div id="file5" style="display: none;"><label for="Imagen5">AGREGAR IMAGEN :</label><input class="agregarImagen5" type="file" name="Imagen5" ><button id="img5" class="masImagenes" style="display: none;">Más Imágenes</button></div>
                        <div id="file6" style="display: none;"><label for="Imagen6">AGREGAR IMAGEN :</label><input class="agregarImagen6" type="file" name="Imagen6" ><button id="img6" class="masImagenes" style="display: none;">Más Imágenes</button></div>
                        <div id="file7" style="display: none;"><label for="Imagen7">AGREGAR IMAGEN :</label><input class="agregarImagen7" type="file" name="Imagen7" ><button id="img7" class="masImagenes" style="display: none;">Más Imágenes</button></div>
                        <div id="file8" style="display: none;"><label for="Imagen8">AGREGAR IMAGEN :</label><input class="agregarImagen8" type="file" name="Imagen8" ></div>
                    </div>
                    <button class="reset" type="reset">Resetear Carga</button> 
                    <button class="agregarProducto" type="submit">Agregar Producto</button>
                </div>
            </form>
        </main>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/newProduct.js"></script>
</body>
</html>