<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href='/stylesheets/carrito.css' />
    <link rel='stylesheet' href='/stylesheets/header2.css' />


</head>
<body>
    <div class="container">
        
        <%- include('../partials/header_carrito') %>
        <main class="carrito">
            <h1>Carrito de compras      (<%=carritoProducto.length%>)</h1>
            <div class="tarjetas">
                <h2 class="titulo">Listado de Productos</h2>
                <% for ( var i =0; i < carritoProducto.length; i++){ %>
                    <% for ( var j =0; j < productos.length; j++){ %>
                        <% if ( productos[j].id == carritoProducto[i].id_producto){ %>
                <div class="tarjetaProducto">
                    <div class="imagen">
                        <a href="../products/<%=productos[j].id%>"><img src="/img/products/<%=productos[j].imagenes[0].path%>" alt="zandalias"></a>
                    </div>
                    <div class="descripcion">
                        <h3><%=productos[j].nombre%></h3>
                        <input type="number" name="idSel" id="idSel"  value="<%=carritoProducto[i].id%>" style="display: none;">
                        <input type="number" name="idCarrito" id="idCarrito"  value="<%=carrito.id%>" style="display: none;">
                        <p>Precio unitario : $ <%=toThousand(productos[j].precio-(productos[j].precio*(productos[j].descuento / 100)))%></p>
                        <% if ( productos[j].descuento != 0){ %>
                        <p id="sinDesc" style="font-size: small; text-decoration: line-through;">Precio sin descuento : $ <%=toThousand(productos[j].precio)%></p>
                        <p id="desc" style="font-size: smaller;">Descuento : % <%=productos[j].descuento%> OFF</p>
                        <%} %>
                        
                        <p style="font-size: smaller;"><%=productos[j].descripcion%></p>
                        <% }%>
                <% }%>
                <% for ( var k =0; k < talles.length; k++){ %>
                    <% if ( talles[k].id == carritoProducto[i].id_talle){ %>
                        <p style="font-size: smaller;">Talle : <%=talles[j].talle%></p>
                        <% }%>
                <% }%>
                <% for ( var l =0; l < colores.length; l++){ %>
                    <% if ( colores[l].id == carritoProducto[i].id_color){ %>
                        <p style="font-size: smaller;">Color : <%=colores[l].nombre%></p>
                        <% }%>
                <% }%>
                        <p class="cantidad"></p>
                    </div>
            </div>
                    
            <% }%>
            </div>


            <div class="cantidadSubtotal">
                <div class="cantidad">
                    <h2 class="titulo">Cantidad</h2>
                    <% for ( var i =0; i < carritoProducto.length; i++){ %>
                    <div class="cadaCantidad">
                    <input id="cantidadInicial" class= "cantidad" type="number" value="<%= carritoProducto[i].cantidad %>" style="display: none;" readonly>
                    <div class="containerCantidad"><input id="cantidad" class= "cantidad" type="number" value="<%= carritoProducto[i].cantidad %>" min="1">
                    <a title="Confirmar cambio" id="confirmarCambio" href="/users/carrito/cantidad/"><i class="fas fa-check-circle" id="confirmar" style="color: black;"></i></a><a id="descartarCambio" title="Descartar cambio" href=""><i class="fas fa-window-close"></i></a></div>
                    </div>
                    <% }%>
  
                    <br>
                    <br>
                    <br>
                    

                    

                </div>
                <div class="subtotal">
                    <h2 class="titulo">Subtotal</h2>
                    <% for ( var i =0; i < carritoProducto.length; i++){ %>
                        <% for ( var j =0; j < productos.length; j++){ %>
                            <% if ( productos[j].id == carritoProducto[i].id_producto){ %>
                                <div class="precio">
                                <input type="number" name="precioUnitario" id="precioUnitario" value="<%=(productos[j].precio-(productos[j].precio*(productos[j].descuento / 100)))%>" style="display: none;">
                                <input type="number" name="precioxCantidad" id="precioXCantidad" value="<%=(productos[j].precio-(productos[j].precio*(productos[j].descuento / 100))) * carritoProducto[i].cantidad %>" style="display: none;">
                                <div class="cadaPrecio"><p class="precio" id="precio">$ <%= toThousand((productos[j].precio-(productos[j].precio*(productos[j].descuento / 100))) * carritoProducto[i].cantidad)%></p>
                        <a href="/users/carrito/borrar/<%=carritoProducto[i].id%>"><i class="fas fa-trash-alt"></i></a></div>
                    </div>
                            <% }%>
                        <% }%>
                    <% }%>
                    <% var precio = [0] %>
                    <% for ( var i =0; i < carritoProducto.length; i++){ %>
                        <% for ( var j =0; j < productos.length; j++){ %>
                            <% if ( productos[j].id == carritoProducto[i].id_producto){ %>
                                <% precio.push((productos[j].precio-(productos[j].precio*(productos[j].descuento / 100)))*carritoProducto[i].cantidad) %>
                                <% }%>
                    <% }%>
                <% }%>
                    <br>
                    <br>
                    <br>
                    
                </div>
            </div>
            <div class="totalBotones">
            <div class="subtotal2">
                <p class="envio">Subtotal</p>
                <p id="subtotal">$ <%=toThousand(precio.reduce(function(a, b){ return a + b; }))%></p>
            </div>
            <div class="total">
                <h2 class="total">Total</h2>
            <h2 class="total" id="total">$ <%=toThousand(precio.reduce(function(a, b){ return a + b; }))%></h2>
            </div>
            <div class="botones">
                <p id="error" style="font-size: small; color: red;"></p>
                <button onclick="javascript:location.href='/users/carrito/comprar/<%=carrito.id%>'">FINALIZAR PEDIDO</button>
                <button class="mas" onclick="javascript:location.href='../products/'">SEGUIR COMPRANDO</button>
            </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </div>
    <script src="/js/carrito.js"></script>
    </body>
</html>