<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href='/stylesheets/__userList.css'/>
    <link rel='stylesheet' href='/stylesheets/header2.css' />

</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <main>
            
            <div class="id">
                <h1>Id</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><%=users[i].id%></h2>
                <%}%>
            </div>
            <div class= "fullname">
                <h1>Nombre completo</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><%=users[i].nombre%></h2>
                <%}%>
            </div>
            <div class="email">
                <h1>Email</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><%=users[i].email%></h2>
                <%}%>
            </div>
            <div class="telefono">
                <h1>Telefono</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><%=users[i].telefono%></h2>
                <%}%>
            </div>
            <div class="permiso">
                <h1>Permiso</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><%=users[i].permiso%></h2>
                <%}%>
            </div>
            
            <div class="editar">
                <h1>Editar</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><a href="/users/userList/edit/<%=users[i].id%>">Editar</a></h2>
                <%}%>
            </div>
            <div class="borrar">
                <h1>Borrar</h1>
                <%for(i=0; i< users.length; i++ ){%>
                <h2><a href="/users/userList/delete/<%=users[i].id%>">Borrar</a></h2>
                <%}%>
            </div>
            
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>