<form action="../products/filtro" method="POST" class="formfiltro">
    <div class="filtro filtroPersona">
        <div><input class="persona" type="radio" name="persona" value="" id="Todos" checked><label for="Todos">Todos</label> </div>
        <div><input class="persona" type="radio" name="persona" value="mujer" id="Mujer"><label for="Mujer">Mujer</label> </div>
        <div><input class="persona" type="radio" name="persona" value="hombre" id="Hombre"><label for="Hombre">Hombre</label> </div>
        <div><input class="persona" type="radio" name="persona" value="niño" id="Nino"><label for="Nino">Niño</label></div>
    </div>
    <br><br>

    <label for="">Categorías</label>
    <br>
    <div>
        <div class="filtro filtroCategoria">
            <div><input class="persona" type="checkbox" name="categoria" value="1" id="Zapatillas" checked><label for="Zapatillas">Zapatillas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="2" id="Botas" checked><label for="Botas">Botas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="3" id="Zapatos" checked><label for="Zapatos">Zapatos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="4" id="Suecos" checked><label for="Suecos">Suecos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="5" id="Zandalias" checked><label for="Zandalias">Sandalias</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="6" id="Chatas" checked><label for="Chatas">Chatas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="7" id="Ojotas" checked><label for="Ojotas">Ojotas</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="8" id="Carteras" checked><label for="Carteras">Carteras</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="9" id="Panuelos" checked><label for="Panuelos">Pañuelos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="10" id="Pulceras" checked><label for="Pulceras">Pulseras y Collares</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="11" id="Cintos" checked><label for="Cintos">Cintos</label></div>
            <div><input class="persona" type="checkbox" name="categoria" value="12" id="Mochilas" checked><label for="Mochilas">Mochilas</label></div>
        </div>
    </div>
    <br><br>
    <div class="filtro filtroPrecio">
        <div><label for="preciomin">Precio Mínimo</label> / <label for="preciomax">Precio Máximo</label></div>
        <div><input type="number" name="preciomin" id="preciomin" value="0" size="10" min="0" style="width:100px"> / <input type="number" name="preciomax" id="preciomax" value="100000" size="10" min="0" style="width:100px"></div>
    </div>                   
    <br><br>

    <div class="labels">
        <label for="">Talle</label>
        <p id="guiaTalles" onclick="javascript:location.href='/ayuda'">Ver guía de talles</p>
    </div>
    <br>
    <div class="filtro filtroTalle">

        <div><% for (let i = 0; i < talles.length; i++) {%>
            <div><input class="persona" type="checkbox" name="talles" value="<%=talles[i].id%>" id="<%=talles[i].id%>"><label for="<%=talles[i].talle%>"> <%=talles[i].talle%></label></div>
            <%}%> 
        </div>
    </div>
    <br><br>

    <label for="">Color</label><br>
    <div class="filtro filtroColor">
        <% for (let i = 0; i < colores.length; i++) {%>
            <div><input class="persona" type="checkbox" name="color" value="<%=colores[i].id%>" id="<%=colores[i].id%>"><label for="<%=colores[i].nombre%>"><%=colores[i].nombre%></label></div>
            <%}%>
    </div>
    <br><br>

    <label for="">Marca</label><br>
    <div class="filtro filtroMarca">
        <% for (let i = 0; i < marcas.length; i++) {%>
            <input class="persona" type="checkbox" name="marcas" value="<%=marcas[i].id%>" id="<%=marcas[i].id%>" checked><label for="<%=marcas[i].nombre%>"><%=marcas[i].nombre%></label>
            <%}%>
    </div>
    <br><br>
    <button class="submitbutton" style="background-color: white; color: black;" type="reset">Limpiar campos</button><br>
    <button class="submitbutton" type="submit">Aplicar</button>
</form>